*, :after, :before {
	box-sizing: border-box;
}
body, html {
	height: 100%;
	width: 100%;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
	font-family: 'Source Sans Pro', helvetica, arial;
	font-size: 18px;
	font-weight: 300;
}

p, h1, h2, h4 {
	text-shadow: 0 0 5px rgba(255,255, 255, .6);
	width: 100%;
	font-size: 30px;
	line-height: 1.3;
	margin-top: 10px;
	margin-bottom: -2px;
}

s
a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

.container {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 15px;
	position: relative;
	width: 100%;
}
.container--big {
	height: 175vh;
}
.container--full {
	height: 100vh;
}
.container--small {
	height: 40vh;
}
.container .content {
	background: rgba(255, 255, 255, .75);
	border-radius: 8px;
	margin: 0 auto;
	padding: 30px 35px;
	text-align: center;
}

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}
.parallax__container .parallax {
	/* can be put in a seperate class for better control */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* --------------------------- */
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
}

.physics {
	background-image: url("../img/physics.jpg");
}

.show-on-mobile--inline {
	display: none;
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@media screen and (max-width: 480px) {
	.hide-on-mobile {
		display: none;
	}

	.show-on-mobile--inline {
		display: inline;
	}
}
